html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
}

/* navigation bar */

header{
    width: 100%;
    height: 100px;
    margin: auto;
    background-color: transparent;
    background-size: cover;
}

.logo{
    position: fixed;
    margin:36px;
    margin-top: 5px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    list-style: none;
    overflow: hidden;
    text-decoration: none;
}

nav{
    position: fixed;
    background-color: #000;
    width: 100%;
}

nav ul{
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: rgb(0, 0, 0);
    padding: 0;
    text-align: right;
    margin: 0;
    margin-right: 20px;
    transition: 1s;
}

nav.black ul{
    background: #000;
}

nav ul li{
    display: inline-block;
    padding: 20px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*navbar animation*/

nav ul li a:hover{
    border-bottom: 2px solid white;
    transition: 0.4 ease;
    transition-duration: 100ms;
    color:white;
}

/* homepage */

/* butona shte bude smenen */
.download{
    height: 70px;
    width: auto;
    font-size: 30px;
    margin-top: 340px;
    margin-left: 600px;
    margin-right: 600px;
    margin-bottom: 160px;
    border-radius: 3px;
    text-align: center;
    font-family: sans-serif;
    list-style: none;
    overflow: hidden;
    text-decoration: none;
    outline: solid white;
    outline-width: 3px;
    outline-color: rgb(255, 255, 255);
    background-color: transparent;
    box-sizing: border-box;
}
.button{
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    list-style: none;
    overflow: hidden;
    text-decoration: none;
    display: inline-block;
    margin-top: 18px;
    margin-left: 60px;
    margin-right: 60px;
}

#home{
    background-image: url(indexphotos/homebg.png); /*backgrounda shte bude smenen*/
    background-color: rgb(116, 116, 116);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    border-bottom: 2px solid yellow;
    width: 100%;
    height: 95%;
    animation: change 30s infinite ease;
}

@keyframes change{
    20%
    {
        background-image: url(indexphotos/explore.jpg);
    }
    40%
    {
        background-image: url(indexphotos/reason.jpg);
    }
    60%
    {
        background-image: url(indexphotos/kukers.png);
    }
    80%
    {
        background-image: url(indexphotos/supportkuker.jpg);
    }
    100%
    {
        background-image: url(indexphotos/homebg.png);
    }
}

.gamename{
    font-family: Arial, 'Times New Roman', sans-serif;;
    text-align: center;
    color: white;
    font-size: 55px;
    margin-top: 70px;
}

/* info about the game */
h1{
    font-size: 36px;
}
h3{
    font-size: 22px;
    color:yellow;
}

#explore{
    background-image: url(indexphotos/explore.jpg); /*backgrounda shte bude smenen*/
    background-color: rgb(255, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px;
    border-bottom: 2px solid yellow;
    font-size: 20px;
    padding: 0;
    width: 100%; 
    overflow-x: hidden;
}
.explore{
    text-align: right;
    color: white;
    margin-right: 75px;
    margin-top: 200px;
    margin-bottom: 180px;
    font-size: 16px;
}

#kuker{
    background-image: url(indexphotos/kuker.png); /*backgrounda shte bude smenen*/
    background-color: rgb(255, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px solid yellow;
    font-size: 20px;
    padding: 0;
    width: 100%; 
    overflow-x: hidden;
}
.kuker{
    text-align: left;
    color: white;
    margin-left: 75px;
    margin-top: 200px;
    margin-bottom: 180px;
    font-size: 16px;
}

/*footer*/
footer{
    background-color: rgb(41, 41, 41);
    height: auto;
    width: 100%;
    font-family: Arial, 'Times New Roman', sans-serif;
    padding-top: -5px;
    padding-bottom: -5px;
    color:white;
    overflow-x: hidden;
    column-count: 2;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content p{
    text-align: center;
    margin: 10px auto;
    line-height: 28px;
    font-size: 16px;
    text-decoration: none;
    font-family: Arial, 'Times New Roman', sans-serif;
    list-style: none;
    color: white;
    font-size: 18px;
}

.footer-content a{
    margin-top: 30px;
    margin-bottom: 5px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 1000px;
    margin-right: 43px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.socials li{
    margin: 0 20px;
}
.socials a{
    text-decoration: none;
    color: white;
}
.socials a i{
    font-size: 38px;
}
